
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family:  "Nunito", serif;
}

:root{
    --bg-color:#191f36;
    --snd-bf-color:#262840;
    --text-color:#fff;
    --main-color:#59b2f4;
}

html{
    font-size:62.5%;
    overflow-x: hidden;
}

body{
    background:var(--bg-color);
    color:var(--text-color)
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

/* HEADER DESIGN */

.header{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 2.5rem;
    color:var(--text-color);
    font-weight: 700;
    cursor:default;
}

.navbar a{
    font-size: 1.5rem;
    color:var(--text-color);
    margin-left:4rem;
    font-weight: 700;
}

.navbar a:hover,
.navbar a.active{
    color:var(--text-color)
}

#menu-icon{
    font-size: 3.6rem;
    color:var(--text-color);
    display:none;
}

/* HOME SECTION DESIGN */

.home{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
}

span{
    color:var(--main-color);
}

.home-content{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-img img{
    width:30vw;
}

.home-content p{
    font-size: 1.6rem;
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 2rem solid var(--text-color);
    border-radius: 50%;
    font-size: 2rem;
    color:var(--bg-color);
    margin:3rem 1.5rem 3rem 0;
}

.social-media a:hover{
    background: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--text-color);
    letter-spacing: .1rem;
    font-weight: 600;
}

.btn:hover{
    box-shadow: none;
}

/* ABOUT SECTION DESIGN */

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.about-img img{
    width: 35vh;
}

.heading{
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2{
    text-align: left;
    line-height: 1.2;
}

.about-content h3{
    font-size: 2.6rem;
}

.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

/* PORTFOLIO SECTION DESIGN */

.portfolio h2{
    margin-bottom: 5rem;
}

.portfolio-container{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.portfolio-container .portfolio-box{
    flex: 1 1 30rem;
    background: var(--snd-bf-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.8rem;
    border: .6rem solid var(--snd-bf-color);
    transition:.5s ease
}

.portfolio-container .portfolio-content{
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.portfolio-container .portfolio-box:hover{
    border-color: var(--main-color);
    transform: scale(1.02);
}

.portfolio-box i{
    font-size: 4rem ;
    color: var(--main-color);
    gap: 1rem;
}

.portfolio-box h3{
    font-size: 2.6rem;
}

.portfolio-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

/* CONTACT SECTION DESIGN */
.contact h2{
    margin-bottom: 3rem;
}

.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;   
}

.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form textarea,
.input-box input{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--snd-bf-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input{
    width: 49%;
}

.contact form textarea{
    resize: none;
}

.contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
}

/* BREAKPOINT */
@media (max-width:1200px){
    html{
        font-size: 2rem 3%;
    }
}

@media (max-width:991px){
    .header{
        padding: 2rem 3%;
    }

    .section{
        padding: 10rem 3%;
    }

    .portfolio{
        padding:7rem;
    }

    .contact{
        min-height: auto;
    }
}

@media (max-width:768px){
    #menu-icon{
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 30%;
        background:var(--bg-color) ;
        border-top: .1rem solid rgba(0,0,0,.2);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
        display: none;
    }

    .navbar.active{
        display: block;
    }

    .navbar a{
        display: block;
        font-size: 2rem;
        margin:2rem;
    }

    .home{
        flex-direction: column;
    }

    .home-content h3{
        font-size: 2.6rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-content{
        order: 2;
    }

    .home-img img{
        width: 90vh;
        margin-top: 4rem;
    }

    .about{
        flex-direction: column;
    }

    .about-img img{
        width: 90vw;
        margin-top: 5rem;
    }

    .portfolio h2{
        margin-bottom: 3rem;
    }
    /* stack portfolio box contents on small screens */
    .portfolio-container .portfolio-box{
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width:617px){
    .home-img img{
        width: 80vw;
        margin-top: 8rem;
    }

    .about-img img{
        width: 100vw;
        margin-top: 4rem;
    }
}

@media (max-width:450px){
    html{
        font-size:50%;
    }

    .contact form .input-box input{
        width: 100%;
    }
}
